.LandingPageContainer {
  height: calc(100vh - 60px);
  margin-bottom: 40px;
  flex-direction: row-reverse;
  justify-content: center;
}

.InformationCol {
  display: flex;
  flex-direction: column;
}

/* @media only screen and (max-width: 993px) {} */

.ImageCol {
  align-self: center;
  text-align: center;
}

.ImageCol > img {
  width: 60%;
  max-height: 80vh;
  min-width: 280px;
  object-fit: cover;
  object-position: top;
  animation-name: fadeInImg;
  animation-duration: 1s;
}

@keyframes fadeInImg {
  from {
    transform: translate(-15px,0);
    opacity: 0;
  }
  to {transform: translate(0,0);}
}
