.BasicInfoContianer {
    padding-top: 50px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    text-align: justify !important;
    margin-bottom: 25px !important;
}
