.coverImg {
    background-size: cover;
    /* background-color: red; */
    background-image: url("../../../img/CoverBG.jpg");
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .coverImg {
        /* .bgimg-2, */
        /* .bgimg-3 { */
        background-attachment: scroll;
    }
}
