.TimelineContainer {
  overflow: hidden;
  margin-bottom: 40px;
  animation: fadeInInfo 0.5s;
}

.TimelineContainer > h2 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

@keyframes fadeInInfo {
  from {
    transform: translate(-5px,0);
    opacity: 0;
  }
  to {transform: translate(0,0);}
}